streamlit
transformers  
pandas
keybert
nltk[tokens]  
seaborn
sentence-transformers
wordcloud
matplotlib
numpy
pillow
google-cloud-language
python-dotenv
requests
google.generativeai
streamlit-authenticator
streamlit_lottie==0.0.5
googlesearch-python==1.2.3
setuptools
wrapt
tf-keras
scikit-learn  
tqdm  # Added for progress tracking
folium
streamlit-folium
geopy
plotly 
statsmodels
streamlit-autorefresh